doctype html
html
  head
    meta(charset="UTF-8")
    title Modular Pug
    link(rel="stylesheet", href="style.css")
  body
    include parts/hero.pug
    include parts/running_text.pug
    include parts/innovation.pug
    include parts/explore.pug
    include parts/works.pug
    include parts/footer.pug
