section.artist 
  .container 
    p Shimogori’s creative work spans the conceptual and the visual, fusing form and philosophy.
    span ( 05 )
    p His pieces have been exhibited and acquired by institutions including the Smithsonian’s Cooper Hewitt Design Museum.
  .container 
    .artist__left
      img(src="/assets/images/artist_illus1.webp", alt="", height="400", width="350")
      .wrapper 
        span ( 1993 )
        p ROSCE Award – Interior Design Magazine
    .artist__center
      h2 
        | Acclaimed Modern
        span
        | Artist
    .artist__right
      .wrapper 
        img(src="/assets/images/artist_illus2.webp", alt="", width="380", height="280")
        .wrapper  
          span ( 1990 )
          p Japan Good Design Award
      p Trained at CalArts, his practice in design and visual expression continues to influence how we experience objects, identity, and space and has led to several awards.