section.explore 
  .container 
    .explore__card
      .explore__group
        .explore__item.black
          img(src="/assets/images/explore_left_illus.webp", alt="", width="476", height="263")
          span ( 2004 )
          p SYSTEM FOR ELECTRONIC MERCHANDISING AND SHOPPING
        .explore__wrap
          .explore__item
            span ( 03 )
            h2 
              | EXPLORE 
              br
              | his
              span 
              | PATENT
          .explore__item
            div 
              p DISCOVER & INNOVATIVE SOLUTIONS
              img(src="/assets/images/explore_copy_icon.webp", alt="")
            p Kotaro Shimogori Patent
        .explore__item.last
          span ( 2014 )
          p SHIPPING SYSTEM AND METHOD WITH TAXONOMIC TARIFF HARMONIZATION