section.explore 
  .container 
    .explore__card
      .explore__group
        .explore__item.black(data-aos="fade" data-aos-delay="200" data-aos-offset="20")
          img(src="/assets/images/explore_left_illus.webp", alt="", width="476", height="263" data-aos="fade" data-aos-delay="400" data-aos-offset="20")
          span(data-aos="fade-up" data-aos-delay="450" data-aos-offset="20") ( 2004 )
          p(data-aos="fade-up" data-aos-delay="500" data-aos-offset="20") SYSTEM FOR ELECTRONIC MERCHANDISING AND SHOPPING
        .explore__wrap
          .explore__item(data-aos="fade" data-aos-delay="300" data-aos-offset="20")
            span(data-aos="fade-up" data-aos-delay="400" data-aos-offset="20") ( 03 )
            h2(data-aos="fade-up" data-aos-delay="350" data-aos-offset="20") 
              | EXPLORE 
              br
              | his
              span 
              | PATENT
          .explore__item(data-aos="fade" data-aos-delay="400" data-aos-offset="20")
            div 
              p(data-aos="fade-up" data-aos-delay="450" data-aos-offset="20") DISCOVER & INNOVATIVE SOLUTIONS
              img(src="/assets/images/explore_copy_icon.webp", alt="" data-aos="fade" data-aos-delay="500" data-aos-offset="20")
            p(data-aos="fade-up" data-aos-delay="450" data-aos-offset="20") Kotaro Shimogori Patent
        .explore__item.last(data-aos="fade" data-aos-delay="500" data-aos-offset="20")
          span(data-aos="fade-up" data-aos-delay="600" data-aos-offset="20") ( 2014 )
          p(data-aos="fade-up" data-aos-delay="550" data-aos-offset="20") SHIPPING SYSTEM AND METHOD WITH TAXONOMIC TARIFF HARMONIZATION