section.explore 
  .container 
    .explore__card
      .explore__group
        .explore__item.black
          span ( 2004 )
          p SYSTEM FOR ELECTRONIC MERCHANDISING AND SHOPPING
        .explore__wrap
          .explore__item
            span ( 03 )
            h2 
              | EXPLORE  his 
              span 
              | PATENT
          .explore__item
            div 
              p DISCOVER & INNOVATIVE SOLUTIONS
              img(src="", alt="")
            p Kotaro Shimogori Patent
        .explore__item.last
          span ( 2014 )
          p SHIPPING SYSTEM AND METHOD WITH TAXONOMIC TARIFF HARMONIZATION