section.footer
  .container
    .footer__card
      .footer__head 
        h2 
          | A Life of
          span 
          | Boundless Creativity
        .footer__menu 
          a(href="") Home
          a(href="") Insight
      .footer__body
        p Whether leading innovation in digital commerce or exploring the limits of artistic form, Kotaro Shimogori embodies a rare convergence of creativity and pragmatism. His work reminds us that the future belongs to those who imagine boldly and build fearlessly.
        a(href="").btn Lets talk!
  .container
    a(href="") Privacy Policy/Terms
    p All rights reserved ©KotaroShimogori 2025