section.hero
  .container
    .hero__title-wrap
      h1.hero__title 
        | Kotaro 
        span 
        | Shimogori
      span ( 01 )
    .hero__tag-group 
      .tag ENTERPRENEUR
      .tag INNOVATOR
      .tag ARTIST
  .container.hero__foot
    .container
        p.hero__desc 
          strong He is an innovator whose ideas transcend disciplines, 
          | a global entrepreneur who helped shape modern e-commerce, and a celebrated artist whose work has left a mark in prestigious institutions worldwide.
        .hero__tagline
          img(src="/assets/images/hero_icon.webp", alt="", height="48", width="48")
          p visionary whose work defies convention
