section.innovation 
  .container 
    h2.innovation__title(data-aos="fade-up" data-aos-delay="200" data-aos-offset="20")  
      | Innovator & Patent
      span
      | Holder
    .innovation__desc-wrap 
      div(data-aos="fade-up" data-aos-delay="250" data-aos-offset="20")   ( 02 )
      p(data-aos="fade-up" data-aos-delay="400" data-aos-offset="20")   A prolific inventor, Shimogori holds multiple U.S. patents that reflect his forward-thinking approach to user experience, digital interfaces, and cross-border commerce systems.
  .container.innovation-content 
    .container 
      .innovation-content__title-wrap
        h2(data-aos="fade-up" data-aos-delay="200" data-aos-offset="20")
          | His innovations have 
          span powered scalable
        p(data-aos="fade-up" data-aos-delay="400" data-aos-offset="20")   Tech-forward solutions in global trade and digital infrastructure, earning him recognition as a leader in the evolution of online platforms.
      .innovation-content__image-wrap.center
        img(src="/assets/images/innovation_mid_illus.webp", alt="", width="504", height="372" data-aos="fade" data-aos-delay="500" data-aos-offset="20")
      .innovation-content__image-wrap
        img(src="/assets/images/innovation_illus.webp", alt="", width="308", height="213" data-aos="fade" data-aos-delay="600" data-aos-offset="20")
        .innovation-content__tag-group(data-aos="fade" data-aos-delay="650" data-aos-offset="20")  
          .tag.black INNOVATOR
          .tag.black PATENT