section.innovation 
  .container 
    h2.innovation__title 
      | Innovator & Patent
      span
      | Holder
    .innovation__desc-wrap 
      div ( 02 )
      p A prolific inventor, Shimogori holds multiple U.S. patents that reflect his forward-thinking approach to user experience, digital interfaces, and cross-border commerce systems.
  .container.innovation-content 
    .container 
      .innovation-content__title-wrap
        h2 
          | His innovations have 
          span powered scalable
        p Tech-forward solutions in global trade and digital infrastructure, earning him recognition as a leader in the evolution of online platforms.
      .innovation-content__image-wrap.center
        img(src="/assets/images/innovation_mid_illus.webp", alt="", width="504", height="372")
      .innovation-content__image-wrap
        img(src="/assets/images/innovation_illus.webp", alt="", width="308", height="213")
        .innovation-content__tag-group
          .tag.black INNOVATOR
          .tag.black PATENT