section.running-text
  .container
    for i in [1,2,3,4]
      .running-text__wrap
        .running-text__item ENTERPRENEUR
        .dot
        .running-text__item INNOVATOR
        .dot
        .running-text__item ARTIST
        .dot
