section.works 
  .container
    .works__head
      .works__head-left
        h2 
          | Global
          .icon
          br
          span E-commerce 
          br
          | Leader
        p A LEGACY OF LEADERSHIP ACROSS INDUSTRIES:
      .works__head-right
        span ( 04)
        p Kotaro has held pivotal roles in shaping the architecture and strategy behind major global e-commerce ecosystems. His work bridges markets and cultures, optimizing the way people connect, transact, and experience digital retail on a global scale.
    .works__body
      a(href="").works__item
        .works__item-wrap
          img(src="", alt="", width="200", height="94")
          p Integrated merchant application and boarding system
        include works_icon.pug
      a(href="").works__item
        .works__item-wrap
          img(src="", alt="", width="200", height="94")
          p WorkoutUltimate's digital fitness solutions. The Technology Behind Our Fitness Platform
        include works_icon.pug
      a(href="").works__item
        .works__item-wrap
          img(src="", alt="", width="200", height="94")
          p Mobile banking everyone loves. Personal Wallet app for a fully mobile banking experience
        include works_icon.pug
      a(href="").works__item
        .works__item-wrap
          img(src="", alt="", width="200", height="94")
          p iDeclare provides a range of services to help businesses establish their online presence,
        include works_icon.pug
      a(href="").works__item
        .works__item-wrap
          img(src="", alt="", width="200", height="94")
          p Online dating platform, help individuals connect with others for potential relationships.
        include works_icon.pug


          
      