<svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
  <circle cx="28" cy="28.0005" r="28" fill="white"/>
  <path d="M20.5 35.5005L35.5 20.5005M35.5 20.5005H24.25M35.5 20.5005V31.7505" stroke="#FF580A" stroke-width="1.5" stroke-linecap="square"/>
</svg>