@use 'mixins';

.artist{
  background-color: black;
  padding-top: 120px;
  padding-bottom: 96px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include mixins.respond(md) {
    padding-block: 40px;
  }

  &__left{
    max-width: 350px;
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    img{
      @include mixins.respond(sm) {
        width: 100%;
      }
    }

    .wrapper{
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding-inline: 16px;

      span{
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%; /* 16px */
        letter-spacing: -0.16px;
        color: #AAA;
          
        &{
          @include mixins.font('secondary');
        }
      }

      p{
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%; /* 24px */
        letter-spacing: -0.48px;
        text-transform: uppercase;

        @include mixins.respond(md) {
          font-size: 18px;
          letter-spacing: -0.28px;
        }
      }

    }
  }

  &__center{
    margin-left: -23px;
    margin-right: -256px;
    flex: 1;
    z-index: 1;
    padding-top: 40px;

    @include mixins.respond(md) {
      display: none;
    }
    
    h2{
      width: 100%;
      font-size: 80px;
      font-style: normal;
      font-weight: 800;
      line-height: 100%; /* 80px */
      letter-spacing: -3.2px;
      text-transform: uppercase;

      @include mixins.respond(xl) {
        font-size: 64px;
      }

      @include mixins.respond(md) {
        font-size: 38px;
      }

      span{
        width: 62px;
        height: 62px;
        display: inline-block;
        position: relative;
        background-color: #FF580A;
        margin-inline: 0.8rem;
        background: url('../assets/images/artist_icon.webp') no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
  }

  &__right{
    max-width: 466px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;

    @include mixins.respond(md) {
      text-align: left;
      align-items: flex-start;
      gap: 32px;
    }

    .wrapper{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      gap: 16px;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%; /* 24px */
      letter-spacing: -0.48px;
      text-transform: uppercase;

      img{
        @include mixins.respond(sm) {
          width: 100%;
        }
      }

      .wrapper{
        gap: 8px;
        padding-inline: 16px;

        span{
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 100%; /* 16px */
          letter-spacing: -0.16px;
          color: #AAA;
          
          &{
            @include mixins.font('secondary');
          }
        }

        p{
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 100%; /* 24px */
          letter-spacing: -0.48px;
          text-transform: uppercase;

          @include mixins.respond(md) {
            font-size: 18px;
            letter-spacing: -0.28px;
          }
        }
      }

    }

    p{
      text-align: right;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 27px */
      letter-spacing: -0.18px;

      &{
        @include mixins.font('secondary');
      }

      @include mixins.respond(md) {
        font-size: 14px;
        text-align: left;
      }
    }
  }

  .container:nth-child(1){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15%;

    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
    letter-spacing: -0.18px;

    @include mixins.respond(md) {
      font-size: 14px;
      letter-spacing: -0.08px;
      flex-direction: column;
      gap: 24px;
    }

    &{
      @include mixins.font('secondary');
    }

    span{
      flex-shrink: 0;
      color: #AAA;
    }

    h2{
      width: 100%;
      font-size: 38px;
      font-style: normal;
      font-weight: 800;
      line-height: 100%; /* 80px */
      letter-spacing: -1px;
      text-transform: uppercase;
      display: none;

      @include mixins.respond(md) {
        display: block ;
      }

      span{
        width: 32px;
        height: 32px;
        display: inline-block;
        position: relative;
        background-color: #FF580A;
        margin-inline: 0.4rem;
        background: url('../assets/images/artist_icon.webp') no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
  }

  .container:nth-child(2){
    display: flex;
    justify-content: space-between;

    @include mixins.respond(md) {
      flex-direction: column;
      gap: 32px;
    }
  }
}