@use 'mixins';

.innovation{
  padding-top: 120px;
  padding-bottom: 40px;

  @include mixins.respond(md) {
    padding-top: 40px;
  }

  .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 64px;

    @include mixins.respond(md) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 12px;
    }

    &.innovation-content{
      padding: unset;
      max-width: 100%;
      padding-top: 64px;
      border-top: 1px solid #CCCCCC;

      .container{
        padding-bottom: unset;
        display: flex;
        gap: 40px;
        align-items: stretch;

        @include mixins.respond(lg) {
          gap: 24px;
          flex-direction: column;
        }
      }
    }
  }

  .innovation-content{
    &__title-wrap{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 40px;

      @include mixins.respond(md) {
        gap: 24px;
      }

      h2{
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.4px;
        text-transform: uppercase;

        @include mixins.respond(md) {
          font-size: 24px;
          letter-spacing: -0.1px;
        }

        span{
          color: #0084FF;
        }
      }

      p{
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 27px */
        letter-spacing: -0.18px;

        &{
          @include mixins.font('secondary');
        }

        @include mixins.respond(md) {
          font-size: 14px;
        }
      }
    }

    &__image-wrap{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      padding-top: 24px;

      @include mixins.respond(lg) {
        align-items: flex-start;
        gap: 24px;
      }

      &.center{
        padding-top: unset;

        img{
          width: 504px;
          
          @include mixins.respond(xl) {
            width: 300px;
          }

          @include mixins.respond(lg) {
            width: 100%;
            height: auto;
          }
        }
      }

      img{
        object-fit: contain;
        width: 100%;

        @include mixins.respond(lg) {
          width: auto;
        }
      }
    }
    
    &__tag-group{
      display: flex;
      gap: 12px;
    }
  }

  &__title{
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%; /* 80px */
    letter-spacing: -3.2px;
    text-transform: uppercase;
    max-width: 60%;

    @include mixins.respond(md) {
      font-size: 38px;
      letter-spacing: -1.2px;
      max-width: 100%;;
    }

    span{
      width: 56px;
      height: 56px;
      display: inline-block;
      margin-inline: 0.8rem;
      background-color: #0084FF;
      background: url('../assets/images/innovation_icon.webp') no-repeat;
      background-position: center;
      background-size: contain;

      @include mixins.respond(md) {
        width: 24px;
        height: 24px;
        margin-inline: 0.5rem;
      }
    }
  }

  &__desc-wrap{
    max-width: 30%;
    display: flex;
    flex-direction: column;
    gap: 22px;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;

    @include mixins.respond(md) {
      max-width: 100%;
      gap: 8px;
      align-items: flex-start;
      text-align: left;
    }

    div{
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 24px */
      letter-spacing: -0.16px;
      color: #AFAFAF;
      
      &{
        @include mixins.font('secondary');
      }

      @include mixins.respond(md) {
        font-size: 14px;
      }
    }

    p{
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 27px */
      letter-spacing: -0.18px;

      &{
        @include mixins.font('secondary');
      }

      @include mixins.respond(md) {
        font-size: 14px;
      }
    }
  }
}