@use 'mixins';

.works{
  background-color: #121212;
  color: white;
  padding-block: 120px;

  @include mixins.respond(md) {
    padding-block: 40px;
  }

  &__head{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 64px;

    @include mixins.respond(md) {
      flex-direction: column;
    }

    &-left{
      width: 60%;

      @include mixins.respond(md) {
        width: 100%;
      }

      h2{
        font-size: 80px;
        font-style: normal;
        font-weight: 800;
        line-height: 100%; /* 80px */
        letter-spacing: -3.2px;
        text-transform: uppercase;
        margin-bottom: 32px;

        @include mixins.respond(xl) {
          font-size: 64px;
        }

        @include mixins.respond(md) {
          font-size: 38px;
          letter-spacing: -1.2px;
        }

        span{
          color: #FF580A;
        }

        .icon{
          width: 108px;
          margin-inline: 0.5rem;
          height: 61px;
          display: inline-block;
          position: relative;
          background-color: #0084FF;
          background: url('../assets/images/works_icon.webp') no-repeat;
          background-position: center;
          background-size: contain;

          @include mixins.respond(md) {
            width: 50px;
            height: 30px;
            margin-inline: 0.3rem;
          }
        }
      }

      p{
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 27px */
        letter-spacing: -0.18px;

        @include mixins.font('secondary');

        @include mixins.respond(md) {
          font-size: 14px;
          letter-spacing: -0.08px;
        }
      }
    }

    &-right{
      padding-top: 36px;
      width: 35%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: right;
     
      @include mixins.respond(md) {
        width: 100%;
        text-align: left;
        gap: 12px;
      }

      span{
        color: #AFAFAF;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%; /* 16px */
        letter-spacing: -0.16px;

        @include mixins.font('secondary');

        @include mixins.respond(md) {
          font-size: 14px;
          letter-spacing: -0.06px;
        }
      }

      p{
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 27px */
        letter-spacing: -0.18px;

        @include mixins.font('secondary');

        @include mixins.respond(md) {
          font-size: 14px;
          letter-spacing: -0.08px;
        }
      }
    }
  }

  &__body{
    display: flex;
    flex-direction: column;
  }

  &__item{
    padding: 24px;
    padding-left: unset;
    border-bottom: 1px solid #555;
    text-decoration: none;
    color: white;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    @include mixins.respond(md) {
      align-items: flex-start;
    }

    .img-wrap{
      position: absolute;
      bottom: 0;
      width: 25%;
      right: 15%;
      overflow: hidden;
      height: 0px;
      user-select: none;
      pointer-events: none;
    }

    .overlay{
      position: absolute;
      width: 100%;
      bottom: -10px;
      transform: translateY(100%);
      transition: all 300ms ease;
      transition-delay: 100ms;
      opacity: 0;
      
      @include mixins.respond(lg) {
        right: 10%;
      }
    }

    &:first-child{
      border-top: 1px solid #555;
    }

    &:hover{
      background-color: #0084FF;
      border-radius: 24px;

      .img-wrap{
        height: 350px;
      }

      .overlay{
        transform: translateY(0%);
        opacity: 1;

        @include mixins.respond(md) {
          display: none;
        }
      }

      p{
        color: white;
      }

      svg{
        filter: invert(0) grayscale(0) brightness(1);
      }

      .works__item-wrap img{
        filter: grayscale(1) brightness(2);
      }
    }

    &-wrap{
      display: flex;
      gap: 80px;
      align-items: center;
      width: 50%;

      @include mixins.respond(lg) {
        width: 65%;
      }

      @include mixins.respond(md) {
        width: 80%;
        gap: 24px;
      }

      @include mixins.respond(sm) {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 24px;
      }

      p{
        color: #AAA;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 27px */
        letter-spacing: -0.18px;

        @include mixins.font('secondary');

        @include mixins.respond(md) {
          font-size: 14px;
          letter-spacing: -0.08px;
        }
      }
    }

    svg{
      filter: invert(1) grayscale(1) brightness(2);
      
      @include mixins.respond(md) {
        width: 42px;
        height: 42px;
      }
    }
  }
}